# "Name":"Associate SSH Key To Instances"
# "Description":"This configuration will associate SSH key to instances"
# "Date Added":"08/12/2015"
# "Created By":"Amazon Inc"
##  Parameters:
##    key_name:
##      Default: "NULL"
##      Description: "Name of the SSH key"
---
option_settings:
  - namespace: aws:cloudformation:template:resource:property
    resource_name: AWSEBAutoScalingLaunchConfiguration
    option_name: KeyName
    value: {key_name}
