# Name: Autoscale via SQS Worker Queue
# Description: Autoscale via SQS Worker Queue using the metric Approximate_Number_Of_Messages_Visible
# Date Added: 08/12/2015
# Maintained By: Amazon Inc
##  Parameters:
##    High_Alarm_Period:
##      Default: "300"
##      Description: "Period for the QueueDepthAlarmHigh Alarm"
##    High_Alarm_Evaluation_Periods:
##      Default: "1"
##      Description: "Evaluation Period for the QueueDepthAlarmHigh Alarm"
##    High_Alarm_Threshold:
##      Default: "20"
##      Description: "Threshold for the QueueDepthAlarmHigh Alarm"
##    Low_Alarm_Period:
##      Default: "300"
##      Description: "Period for the QueueDepthAlarmHigh Alarm"
##    Low_Alarm_Evaluation_Periods:
##      Default: "1"
##      Description: "Evaluation Period for the QueueDepthAlarmHigh Alarm"
##    Low_Alarm_Threshold:
##      Default: "5"
##      Description: "Threshold for the QueueDepthAlarmHigh Alarm"
---
Resources:
  AWSEBCloudwatchAlarmHigh:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmActions: []

  AWSEBCloudwatchAlarmLow:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmActions: []

  QueueDepthAlarmHigh:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Alarm if queue depth grows beyond 20 messages"
      Namespace: "AWS/SQS"
      MetricName: ApproximateNumberOfMessagesVisible
      Dimensions:
        - Name: QueueName
          Value :
            Fn::GetAtt
              "Ref":"AWSEBWorkerQueue"
              "QueueName"
      Statistic: Sum
      Period: {High_Alarm_Period}
      EvaluationPeriods: {High_Alarm_Evaluation_Periods}
      Threshold: {High_Alarm_Threshold}
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - Ref: AWSEBAutoScalingScaleUpPolicy

  QueueDepthAlarmLow:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Alarm if queue depth is less than 5 messages"
      Namespace: "AWS/SQS"
      MetricName: ApproximateNumberOfMessagesVisible
      Dimensions:
        - Name: QueueName
          Value:
            Fn::GetAtt
              "Ref":"AWSEBWorkerQueue"
              "QueueName"
      Statistic: Sum
      Period: {Low_Alarm_Period}
      EvaluationPeriods: {Low_Alarm_Evaluation_Periods} 
      Threshold: {Low_Alarm_Threshold}
      ComparisonOperator: LessThanThreshold
      AlarmActions:
        - Ref: AWSEBAutoScalingScaleDownPolicy
