# "Name":"Download A File From S3 Using Role Authentication"
# "Description":"This configuration will download a file from S3 using Role Authentication"
# "Date Added":"08/12/2015"
# "Created By":"Amazon Inc"
##  Parameters:
##    filepath:
##      Default: "/home/ec2-user/myfile"
##      Description: "Target file location on disk"
##    filemode:
##      Default: "000644"
##      Description: "A six-digit octal value representing the mode for this file (e.g, 000444). The first three digits are used for symlinks and the last three digits are used for setting permissions."
##    fileowner:
##      Default: "root"
##      Description: "The name of the owning user for this file."
##    filegroup:
##      Default: "root"
##      Description: "The name of the owning group for this file."
##    filesource:
##      Default: "NULL"
##      Description: "A URL to load the file from."
##    bucketname:
##      Default: "NULL"
##      Description: "The name of the S3 bucket from which the file is to be downloaded."
##    rolename:
##      Default: "aws-elasticbeanstalk-ec2-role"
##      Description: "The name of the role."
---
Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Metadata:
      AWS::CloudFormation::Authentication:
        S3AccessCred:
          type: "S3"
          roleName: {rolename}
          buckets: {bucketname}
files:
  {filepath}:
    mode: {filemode}
    owner: {fileowner}
    group: {filegroup}
    source: {filesource}
    authentication: S3AccessCred
