# "Name":"Download A File From S3 To A Location"
# "Description":"Downloads a file from S3 to a location in the instance"
# "Date Added":"08/02/2015"
# "Maintained By":"Amazon Inc"
##  Parameters:
##    filepath:
##      Default: "/home/ec2-user/myfile.config"
##      Description: "Target file location on disk"
##    filemode:
##      Default: "000644"
##      Description: "A six-digit octal value representing the mode for this file (e.g, 000444). The first three digits are used for symlinks and the last three digits are used for setting permissions."
##    fileowner:
##      Default: "root"
##      Description: "The name of the owning user for this file."
##    filegroup:
##      Default: "root"
##      Description: "The name of the owning group for this file."
##    filesource:
##      Default: "https://s3-us-west-2.amazonaws.com/elasticbeanstalk-ebextensions/config_code/Specify_ELB_Name.config"
##      Description: "A URL to load the file from. This option cannot be specified with the content key."
---
files:
  "{filepath}":
     mode: "{filemode}"
     owner: {fileowner}
     group: {filegroup}
     source: {filesource}