# "Name":"ELB Access Logs on An Existing Bucket"
# "Description":"Save ELB access logs on an existing bucket"
# "Date Added":"08/12/2015"
# "Created By":"Amazon Inc"
##  Parameters:
##    emit_interval:
##      Default: "5"
##      Description: "The emit interval for logging the ELB access"
##    s3_bucket:
##      Default: "NULL"
##      Description: "The name of the S3 bucket to which the ELB access is logged."
---
Resources:
    AWSEBLoadBalancer:
        Type: AWS::ElasticLoadBalancing::LoadBalancer
        Properties:
            AccessLoggingPolicy:
                EmitInterval: {emit_interval}
                Enabled: true
                S3BucketName: {s3_bucket}
