# "Name":"ELB access logs on an new bucket"
# "Description":"Save ELB access logs on an new bucket"
# "Date Added":"07/07/2015"
# "Created By":"Amazon Inc"
---
Mappings:
    Region2ELBAccountId:
        ap-northeast-1:
            AccountId: '582318560864'
        ap-southeast-1:
            AccountId: '114774131450'
        ap-southeast-2:
            AccountId: '783225319266'
        eu-west-1:
            AccountId: '156460612806'
        sa-east-1:
            AccountId: '507241528517'
        us-east-1:
            AccountId: '127311923021'
        us-west-1:
            AccountId: '027434742980'
        us-west-2:
            AccountId: '797873946194'
Resources:
    LogsBucket:
        Type: AWS::S3::Bucket
        DeletionPolicy: Retain
    LogsBucketPolicy:
        Type: AWS::S3::BucketPolicy
        Properties:
            Bucket:
                Ref: LogsBucket
            PolicyDocument:
                Version: '2008-10-17'
                Statement:
                -   Sid: ELBAccessLogs20130930
                    Action:
                    - s3:PutObject
                    Effect: Allow
                    Principal:
                        AWS:
                            Fn::FindInMap:
                            - Region2ELBAccountId
                            -   Ref: AWS::Region
                            - AccountId
                    Resource:
                        Fn::Join:
                        - ''
                        -   - 'arn:aws:s3:::'
                            -   Ref: LogsBucket
                            - /AWSLogs/
                            -   Ref: AWS::AccountId
                            - /*
    AWSEBLoadBalancer:
        Type: AWS::ElasticLoadBalancing::LoadBalancer
        Properties:
            AccessLoggingPolicy:
                EmitInterval: 5
                Enabled: true
                S3BucketName: 
                    Ref: LogsBucket
