# "Name":"Increase Instance Waitcondition"
# "Description":"This configuration will increase Instance Waitcondition"
# "Date Added":"08/12/2015"
# "Created By":"Amazon Inc"
##  Parameters:
##    time_out:
##      Default: "1200"
##      Description: "The timeout value for the instance"
---
Resources:
 AWSEBInstanceLaunchWaitCondition:
  Type: "AWS::CloudFormation::WaitCondition"
  Properties:
    "Timeout": "{time_out}"
