# "Name":"Increase Beanstalk Timeout"
# "Description":"This configuration will increase the Beanstalk timeout"
# "Date Added":"08/12/2015"
# "Created By":"Amazon Inc"
##  Parameters:
##    time_out:
##      Default: "1000"
##      Description: "This input value is used to increase the beanstalk timeout value. Valid values are between 0 and 1800."
---
option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: {time_out}
