# "Name":"Restrict SSH to CIDR or Security Group"
# "Description":"Use new option setting SSHSourceRestriction to restrict SSH access to Beanstalk instances"
# "Date Added":"08/12/2015"
# "Created By":"Amazon Inc"
##  Parameters:
##    security_group_values:
##      Default: "tcp, 22, 22, 0.0.0.0/0"
##      Description: "Values that specify the restriction for the security group."
---
option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SSHSourceRestriction
    value: {security_group_values}
